<div>
  <h1 class = "headings">About Us</h1>
  <p class = "aboutUsDescription">We started our company in May of 2019 with two people who
    just loved walking amongst nature. We wanted to share this experience with 
    others, locals and tourists alike. Ireland is one of the most beautiful 
    countries in the world. So let's go out, and see it! Reach us through our social media anytime.</p>
</div>  

<div id="socialMediaIcons">
   <!-- Image Source: https://www.iconfinder.com/icons/386622/facebook_icon -->
       <!-- Image License: Creative Commons (Attribution 3.0 Unported) -->
   <a href="https://www.facebook.com/"> <img id="facebookIcon" src="assets/facebook.png" alt="Facebook logo"></a>
   <!--Image Source: https://www.iconfinder.com/icons/939755/tweet_twitter_icon_icon -->
       <!-- Image License: Free for commercial use -->  
   <a href="https://twitter.com/"><img id="twitterIcon" src="assets/twitter.png" alt="Twitter logo"></a>
   <!-- Image Source: https://www.iconfinder.com/icons/2609558/instagram_media_social_icon -->
       <!-- Image License: Free for commercial use --> 		   
   <a href="https://www.instagram.com/"><img id="instagramIcon" src="assets/instagram.png" alt="Instagram logo"></a>		  
</div>

<div class="googleMapDiv">
    <iframe  id="googleMapIframe" src="https://maps.google.com/maps?q=national%20college%20of%20ireland&t=&z=13&ie=UTF8&iwloc=&output=embed">
    </iframe>
</div>