<div class = "headingDiv">
  <h1 class = "headings">About Us</h1>
  <p class = "aboutUsDescription">We started our company in May of 2019 with two people who
    just loved walking amongst nature. We wanted to share this experience with 
    others, locals and tourists alike. Ireland is one of the most beautiful 
    countries in the world. So let's go out, and see it!</p>
</div>  

<div class="googleMapDiv">
    <iframe  id="googleMapIframe" src="https://maps.google.com/maps?q=national%20college%20of%20ireland&t=&z=13&ie=UTF8&iwloc=&output=embed">
    </iframe>
</div>

<% content_for :header do %>

<% end %>