<h1 class = "headings">About Us</h1>
<p align = "justify" >We started our company in May of 2019 with two people who
just loved walking amongst nature. We wanted to share this experience with 
others, locals and tourists alike. Ireland is one of the most beautiful 
countries in the world. Most of are so consumed with the daily taks that we 
forget to take in the natural beauty around us once in a while. We aim to being
people to nature to remind us of what is most important and that we need to take
care of what we have. </p>

    <div class="googleMapDiv">
        <iframe  id="googleMapIframe" src="https://maps.google.com/maps?q=national%20college%20of%20ireland&t=&z=13&ie=UTF8&iwloc=&output=embed">
        </iframe>
    </div>

<% content_for :header do %>

<% end %>