<!-- Displays pictures of past adventures. The pictures displayed are all from
my own personal trips throughout Ireland. -->

<!-- Inspiration for this gallery page came from w3schools.
Reference for site:
Title: CSS Image Gallery
Author: w3schools
Year: 2019
Availability: https://www.w3schools.com/css/css_image_gallery.asp
-->

<div class = "headingDiv galleryHeadingDiv">
  <h1 class = "headings">Gallery</h1>
  <p class = "belowHeadingPageDescription">These are some of the amazing trips we've had. Join us for our next one and make some memories!</p>
</div>  

<div>
  <div class="galleryImageDiv">
    <div class="gallery">
      <img src="assets/gallery/carton_house_lakehouse.JPG" alt="Galway night time city">
      <div class="desc">Quaint lakehouse on a walk through Carton House grounds</div>
    </div>
  </div>
  
  
  <div class="galleryImageDiv">
    <div class="gallery">
      <img src="assets/gallery/glendalough_upper_lake.JPG" alt="Glendalough upper lake">
      <div class="desc">View of the hiking path turning point around the upper lake at Glendalough</div>
    </div>
  </div>
  
  <div class="galleryImageDiv">
    <div class="gallery">
      <img src="assets/gallery/carrick_a_rede.JPG" alt="Carrick-a-rede">
      <div class="desc">Adventure mates having fun crossing the Carrick-a-Rede rope bridge in Northern Ireland</div>
    </div>
  </div>
  
  <div class="galleryImageDiv">
    <div class="gallery">
      <img src="assets/gallery/giants_causeway.JPG" alt="Giant's causeway">
      <div class="desc">Naturally formed hexagonal stones at the Giant's Causeway in Northern Ireland</div>
    </div>
  </div>
  
  <div class = "clearfix"> </div>
  
  <div class="galleryImageDiv">
    <div class="gallery">
      <img src="assets/gallery/aran_islands_1.JPG" alt="Aran islands cliff">
      <div class="desc">Everyone having a meander over the cliffs on Inis Mór, one of the Aran Islands off the coast near Galway </div>
    </div>
  </div>
  
  <div class="galleryImageDiv">
    <div class="gallery">
      <img src="assets/gallery/aran_islands_2.JPG" alt="Aran islands cliff">
      <div class="desc">Some more cliffs on the Aran islands. Ireland loves its cliffs!</div>
    </div>
  </div>
  
  <div class="galleryImageDiv">
    <div class="gallery">
      <img src="assets/gallery/cliffs_of_moher.JPG" alt="Cliffs of moher">
      <div class="desc">The world-reknown Cliffs of Moher rising 120m off the Atlantic</div>
    </div>
  </div>
  
  <div class="galleryImageDiv">
    <div class="gallery">
      <img src="assets/gallery/st-annes-park.JPG" alt="St Annes park">
      <div class="desc">One of the beautiful walking pathways at St. Annes Park</div>
    </div>
  </div>
  
  <div class = "clearfix"> </div>
  
  <div class="galleryImageDiv">
    <div class="gallery">
      <img src="assets/gallery/galway_city_night.JPG" alt="Galway night time city">
      <div class="desc">Fun times at the pub hub at Galway city centre</div>
    </div>
  </div>
  
  <div class="galleryImageDiv">
    <div class="gallery">
      <img src="assets/gallery/maynooth_park.JPG" alt="Maynooth park">
      <div class="desc">Amazing tree lined pathway in Maynooth leading to Carton House</div>
    </div>
  </div>
</div>