<!-- This is the root page view and has some jQuery animating the elements.
This jQuery can be seen in application.js -->

<div id = "sparklesBackground">
    <div>
        <h1 class = "headings" id="homeHeadingFirstLine">Let's Be Passionate About Nature, </h1>
        <h1 class = "headings" id="homeHeadingSecondLine"> Together</h1>
    </div>  

</div>

<div class = "comeSunOrSnowDiv">         
    <h2 class = "headings" id="homeHeadingThirdLine"> Come Sun</h2>
    <h2 class = "headings" id="homeHeadingFourthLine"> Or Snow</h2>
</div>