<h1 id = "homePageMessage"> Join us for an adventure! </h1> 

<div id = "sparklesBackground"> <p> </p> </div>

<form>
    <input id="new_message" class="button1" type="button" value="Change" >
</form> 

<%= link_to "hide message", '/', id: "nothing", remote: true %>