<!-- Renders a form for editing an admin instance. No need to put access control
because no routes are configured for this view. -->

<h1>Editing Admin</h1>

<%= render 'form', admin: @admin %>

<%= link_to 'Show', @admin %> |
<%= link_to 'Back', admins_path %>
