<!-- Renders a form for editing an adventure instance ONLY if user currently signed 
in has successfully activated admin privileges -->

<%if session[:admin] == true%> 
    <div>
      <h1 class = "headings">Edit Adventure</h1>
    </div> 
    
    <%= render 'form', adventure: @adventure %>
<%else%>
    <% flash[:notice] = "You are not authorised to edit adventures"%>
    <div class="belowHeadingPageDescription"><%= flash[:notice] %></div>
<%end%>