<!-- Renders a form for adding a adventure instance ONLY if user currently signed 
in has successfully activated admin privileges -->

<%if session[:admin] == true%>
    <div>
      <h1 class = "headings">New Adventure</h1>
    </div> 
    
    <%= render 'form', adventure: @adventure %>
<%else%>
    <% flash[:notice] = "You are not authorised to add adventures"%>
    <div class="belowHeadingPageDescription"><%= flash[:notice] %></div>
<%end%>

